.col-lg-6 .btn-default, .col-lg-6 .form-control  {
  height: 50px;
}

header {
  margin: 30px;
}

#logo-branding {
  padding: 10px;
  text-align: center;
}

#searcher {
  padding: 10px;
  height: 70px;
  width: 800px;
  margin: 0 auto;
}

#searcher .col-lg-6 {
  width: 100%;
  padding: 0;
}

#searcher .url-search {
  width: 780px;
}

#skull-badge {
  padding: 10px;
  text-align: center;
}

#skull-badge img{
  width: 200px
}
