{% extends 'home/base.html' %}
{% block content %}

<nav class="uk-navbar-container uk-margin" uk-navbar uk-sticky>
    <div class="uk-navbar-center">

        <div class="">
            <a class="uk-navbar-item uk-logo" href="/"><img id="navlogo" src="/static/home/img/tubeplanet.png"></a>
        </div>

        <div class="uk-navbar-item">
            <form action="" method="POST">
            {% csrf_token %}
                <select class="uk-select uk-form-width-small" name="option">
                    <option value="mp3"> Audio (mp3) </option>
                    <!-- <option value="mp4"> Video (mp4) </option> -->
                </select>
                <input id="search-input" class="uk-input uk-form-width-large" type="search" name="url" placeholder="URL">
                <button id="search-button" class="uk-button uk-button-primary" type="submit">GO!</button>
            </form>
        </div>

    </div>
</nav>

<div class="uk-container">

    <!-- Messages Section -->

    <div class="uk-section uk-section-xsmall" style="text-align: center;">
        <div id="error-messages" class="uk-alert-danger" uk-alert style="display: {{ display_error }};">
           <a class="uk-alert-close" uk-close></a>
           <p>{{ error }}</p>
        </div>
        <div id="success-messages" class="uk-alert-success" uk-alert style="display: {{ display_success }}; margin-top: 0px;">
           <a class="uk-alert-close" uk-close></a>
           <p><a href="/media/{{ title }}.{{ ext }}" download><strong>DOWNLOAD</strong></a></p>
        </div>
        <div id="load-spinner" uk-spinner style="display: {{ display_spin }};"></div>
    </div>

    <!-- Archive Media Section -->

<table class="uk-table uk-table-responsive uk-table-divider uk-table-striped uk-table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Duration</th>
            <th>Filesize</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        {% for meta in metadata %}
        <tr>
            <td>{{ meta.title }}</td>
            {% if meta.extension == 'mp3' %}
                <td>Audio/mp3</td>
            {% else %}
                <td>Video/mp4</td>
            {% endif %}
            <td>{{ meta.duration }} Min</td>
            <td>{{ meta.filesize }} MB</td>
            <td>
                <small><a href="{{ meta.download_url }}" download>DOWNLOAD</a></small>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}
