{% extends 'home/base.html' %}
{% block content %}
    <main class="m-container center">
        <section class="brand">
            <img class="brand__img" src="/static/home/img/1200x438-tubeplanet.png">
        </section>
        <section class="form-section">
            <form action="" class="formulario" method="GET">
                <div class="search">
                    <input class="search__input" type="name" name="url" placeholder="https://www.youtube.com/watch?v=iCz8R25hlFI...">
                    <button class="search__button">GO</button>
                </div>
                <div class="radio">
                    <p style="text-transform: uppercase">Choose your file format</p>
                    <input type="radio" name="format"  id="audio" value="" checked="checked">
                    <label for="audio">Audio (MP3)</label>
                    <input type="radio" name="option"  id="video">
                    <label for="video">Video (MP4)</label>
                </div>
            </form>
        </section>
        <section class="messages"> 
            <div class="successful-message">
                <a href="">
                    <span>Ready for download</span>
                </a>
                <span class="icon-cloud-download"></span>
            </div>
            <div class="error-message">
                <a href="">
                    <span>Ooopppsss... Try again</span>
                </a>
                <span class="icon-times"></span>
            </div>
        </section>
        <section class="footer-brand">
            <img class="footer-brand__img" src="/static/home/img/400x400-negro.png">
            <div class="footer-brand-wrapper">
                <img class="footer-brand__img" src="/static/home/img/j3w.png">
                <img class="footer-brand__img" src="/static/home/img/true-hackers.png">
            </div>
        </section>
    </main>
{% endblock %}
