{% extends 'home/base.html' %}
{% block content %}
    <main class="m-container center">
        <a href="/" class="brand">
            <img class="brand__img" src="/static/home/img/1200x438-tubeplanet.png">
        </a>
        <section class="form-section">
            <form action="" class="formulario" method="GET">
                <div class="search">
                    <input class="search__input" type="name" name="url" placeholder="https://www.youtube.com/watch?v=iCz8R25hlFI...">
                    <button id="search-button" class="search__button">GO</button>
                </div>
                <div class="radio">
                    <p style="text-transform: uppercase">Choose your file format</p>
                    <input type="radio" name="option"  id="audio" value="mp3" checked="checked">
                    <label for="audio">Audio (MP3)</label>
                    <input type="radio" name="option"  id="video" value="mp4">
                    <label for="video">Video (MP4)</label>
                </div>
            </form>
        </section>
        <section class="messages"> 
            <a href="/media/{{ title | urlencode:"" }}.{{ ext }}">
                <div class="successful-message" style="display: {{ display_success }}">
                    <span class="icon-cloud-download"></span>
                    <span>{{ title }}</span>
                </div>
            </a>
            <div class="error-message" style="display: {{ display_error }}">
                <span class="icon-times"></span>
                <span>{{ error }}</span>
            </div>
            <div id="spin-engine" style="text-align: center; display: none">
              <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <section class="footer-brand">
            <img class="footer-brand__img" src="/static/home/img/400x400-negro.png">
            <div class="footer-brand-wrapper">
                <img class="footer-brand__img" src="/static/home/img/j3w.png">
                <img class="footer-brand__img" src="/static/home/img/true-hackers.png">
            </div>
        </section>
    </main>
{% endblock %}
